[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ieeeround"]
	path = ieeeround
	url = https://github.com/jandom-devel/ieeeround
